<link rel="stylesheet" href="./css/App.css">
<div class="login-page">

<div class="form">
  <h1 class="page-heading">Login Now</h1>
  <form method="POST" action="/login" class="login-form">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="login">Login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
  </form>
</div>
</div>
