<link rel="stylesheet" href="./css/App.css">
<div class="register-page">
<div class="form">
  <h1 class="page-heading">Register</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" name="register">Register</button>
    <p class="message">Already registered? <a href="/login">Login</a></p>
</form>
</div>
</div>
